{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% include "navbar.html.twig" %}
	<div class="containerRegister">
		{% for flash_error in app.flashes('verify_email_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<div class="heroRegister">
			<div class="blur" style="background-image:url('{{asset('build/img/img/heroRegister.jpg')}}')"></div>
			<h1>Inscription</h1>
		</div>

		<div class="formRegister">
			{{ form_start(registrationForm) }}
			{{ form_widget(registrationForm.nbAdherent) }}
			{{ form_widget(registrationForm.name) }}
			{{ form_widget(registrationForm.phone) }}
			{{ form_widget(registrationForm.mail) }}
			{{ form_widget(registrationForm.plainPassword, {
				label: 'Password'
			}) }}
			{{ form_widget(registrationForm.agreeTerms) }}

			<button type="submit" class="btn">Register</button>
			{{ form_end(registrationForm) }}
		</div>

	</div>

{% endblock %}
